@import './colors.scss';

@font-face {
    font-family: AllerDisplay;
    src: url(../fonts/AllerDisplay.ttf);
}

.App {
  background-color: $dark_background;
  font-family: AllerDisplay;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96vh;
}