.flex_center, .game_over, .new_game, .button_boxes_container {
  display: flex;
  justify-content: center;
  align-items: center; }

.game_over {
  position: absolute;
  flex-direction: column;
  z-index: 100;
  color: white;
  font-size: 45px;
  box-shadow: 0 0 25px black;
  width: 100%;
  max-width: 925px;
  max-height: 585px;
  min-height: 405px;
  height: 50vw;
  border-radius: 20px; }

.game_over_text {
  color: white;
  z-index: 110; }

.game_over_text:hover {
  cursor: default; }

.new_game {
  width: 150px;
  height: 50px;
  z-index: 110;
  border-color: #ffba00;
  border-style: dashed;
  border-width: 2px;
  border-radius: 20px;
  color: #ffba00;
  font-size: 15px; }

.new_game:hover {
  cursor: pointer;
  border-color: white; }

.game_box {
  position: relative;
  box-shadow: 0 0 25px black;
  width: 80%;
  max-width: 925px;
  max-height: 585px;
  min-height: 405px;
  height: 50vw;
  background-color: #f5f5f5;
  border-radius: 20px; }

.top_content_container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 80%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between; }

.hangman_container {
  width: 250px;
  height: 100%; }

.missing_section_container {
  width: 50%;
  height: 100%; }

.you_missed {
  font-size: 18px;
  margin-left: 30px;
  margin-top: 30px; }

.button_boxes_container {
  flex-direction: row;
  height: 20%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.missed_letters_container {
  height: auto;
  width: calc(100%-25px);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 25px;
  margin-right: 20px; }

.common_background_triangle, .background_triangle_top, .background_square, .background_triangle_bottom {
  position: absolute;
  bottom: 0px;
  right: 0px; }

.background_triangle_top {
  width: 0;
  height: 0;
  border-bottom: 100px solid #4d69fa;
  border-left: 100px solid transparent;
  bottom: 100px; }

.background_square {
  background-color: #4d69fa;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 1em; }

.background_triangle_bottom {
  width: 0;
  height: 0;
  border-bottom: 100px solid #4d69fa;
  border-left: 100px solid transparent;
  right: 100px; }

.background {
  border-radius: 20px;
  position: absolute;
  background-color: #3b4163;
  width: 100%;
  height: 100%;
  opacity: 0.6; }
