@import './colors.scss';

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_over{
  @extend .flex_center;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  color: white;
  font-size: 45px; 
  box-shadow: 0 0 25px black;
  width: 100%;
  max-width: 925px;
  max-height: 585px;
  min-height: 405px;
  height: 50vw;
  border-radius: 20px;
}

.game_over_text {
  color: white;
  z-index: 110;
}

.game_over_text:hover{
  cursor: default;
}

.new_game{
  @extend .flex_center;
  width: 150px;
  height: 50px;
  z-index: 110;
  border-color: $new_game_orange;
  border-style: dashed;
  border-width: 2px;
  border-radius: 20px;
  color: $new_game_orange;
  font-size: 15px;
}

.new_game:hover{
  cursor: pointer;
  border-color: white;
}

.game_box{
  position: relative;
  box-shadow: 0 0 25px black;
  width: 80%;
  max-width: 925px;
  max-height: 585px;
  min-height: 405px;
  height: 50vw;
  background-color: $white;
  border-radius: 20px;
}

.top_content_container{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 80%;
  background-color: $white;
  display: flex;
  justify-content: space-between;
}

.hangman_container{
  width: 250px;
  height: 100%;
}

.missing_section_container{
  width: 50%;
  height: 100%;
}

.you_missed{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 30px;
}

.button_boxes_container{
  @extend .flex_center;
  flex-direction: row;
  height: 20%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.missed_letters_container{
  height: auto;
  width: calc(100%-25px);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 25px;
  margin-right: 20px;
}


.common_background_triangle{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.background_triangle_top{
  @extend .common_background_triangle;
  width: 0;
  height: 0;
  border-bottom: 100px solid $background_triangle;
  border-left: 100px solid transparent;
  bottom: 100px;
}

.background_square{
  @extend .common_background_triangle;
  background-color: $background_triangle;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 1em;
}

.background_triangle_bottom{
  @extend .common_background_triangle;
  width: 0;
  height: 0;
  border-bottom: 100px solid $background_triangle;
  border-left: 100px solid transparent;
  right: 100px;
}


.background{
  border-radius: 20px;
  position: absolute;
  background-color: $dark_background;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}