.han_bar,
.han_head,
.han_neck,
.han_corpus,
.han_right_arm,
.han_left_arm,
.han_right_hand,
.han_left_hand,
.han_right_leg,
.han_left_leg,
.han_right_foot,
.han_left_foot {
  position: absolute; }

.relative_hangman_box {
  position: relative;
  width: 100%;
  height: 100%; }

.han_bar {
  top: 25px;
  left: 0px; }

.han_head {
  top: 55px;
  left: 73px;
  z-index: 10; }

.han_neck {
  top: 135px;
  left: 108px; }

.han_corpus {
  top: 160px;
  left: 92px; }

.han_right_arm {
  z-index: 10;
  top: 161px;
  left: 127px; }

.han_left_arm {
  z-index: 10;
  top: 161px;
  left: 57px; }

.han_right_hand {
  top: 200px;
  left: 167px; }

.han_left_hand {
  top: 200px;
  left: 53px; }

.han_right_leg {
  z-index: 10;
  top: 233px;
  left: 119px; }

.han_left_leg {
  z-index: 10;
  top: 233px;
  left: 77px; }

.han_right_foot {
  top: 307px;
  left: 136px; }

.han_left_foot {
  top: 307px;
  left: 59px; }
