.letter_box, .non_empty_box {
  z-index: 1;
  opacity: 0.95; }

.letter_box {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 7%;
  margin-left: 5px;
  margin-right: 5px;
  height: 70%;
  border-radius: 5px;
  background-color: #e6e6e7;
  color: white;
  font-size: 30px;
  font-family: AllerDisplay; }

.non_empty_box {
  background-color: #53555d; }
